body {
  background: linear-gradient(
    150deg,
    #5b00b2,
    #ff6647
  ); /* Gradient background similar to the image */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#container {
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  text-align: center;
  padding: 35px;
  max-width: 400px;
  width: 100%;
  text-align: left;
  background-color: black;
}

h1 {
  color: #da7c0b;
  font-size: 2em;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
}

button {
  background: linear-gradient(to right, #cc570f, #ffa500);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  /* margin-top: 25px; */
  margin-left: 75px;
  width: 200px;
  height: 30px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 2px solid orangered;
  background-color: #333;
  font-size: 16px;
}
#resultNumber {
  /* margin-top: 2px; */
  font-size: 8px;
  font-weight: bold;
  color: green;
  background-color: #3f3333;
  padding: 6px;
  margin: 6px;
  font-size: 16px;
  border-radius: 6px;

}

p {
  color: rgb(226, 226, 9);
  display: flex;
  justify-content: center;
  align-items: center;
}
